#area {
    position: relative;
    background-color: #e2f8f9;
    margin: 1em auto;
    border-style: ridge;
    border-color: #3257AD;
}

.ball {
    background-color: black;
    position: absolute;
    display: inline-block;
    border-radius: 50%;
}

body {
    background-color: #E6F4F6;
}  
  
div.topnavbar {
    text-align: center;
    display: grid;
    grid-template-columns: 5fr;
    align-items: center;
    width: 750px;
    margin: auto;
  
}
.topnavbar a {
    padding: 1rem;
    color: black;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
}
.topnavbar a:link {
    color: darkblue;
}
.topnavbar a:visited {
    color: darkblue;
}
.topnavbar a:hover {
    color: gray;
}
.topnavbar a:active {
    color: maroon;
}

.header1 {
    font-family: Papyrus;
    text-align: center;
    font-size: 50px;
    margin-top: 50px;
}

p {
  font-family: Garamond;
  text-align: center;
}

footer {
    padding-top: 1%;
  }